<div class="flex items-center justify-between mt-6 relative" *ngIf="isMobile()">
    <a routerLink="stylists" class="sm:text-xl lg:text-2xl text-slate-800 font-extrabold hover:shadow-2xl transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 hover:text-amber-800 duration-500" routerLinkActive="active" >
        Stylists
    </a>
    <a routerLink="products" class="sm:text-xl lg:text-2xl text-slate-800 font-extrabold hover:shadow-2xl transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 hover:text-amber-800 duration-500" routerLinkActive="active" >
        Products
    </a>
    <a routerLink="services" class="sm:text-lg lg:text-2xl text-slate-800 font-extrabold hover:shadow-2xl transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 hover:text-amber-800 duration-500" routerLinkActive="active" >
        Services
    </a>
    <a routerLink="contact" class="sm:text-xl lg:text-2xl text-slate-800 font-extrabold hover:shadow-2xl transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 hover:text-amber-800 duration-500" routerLinkActive="active" >
        Contact
    </a>
</div>

<div *ngIf="!isMobile()">
    <h1>hello</h1>
</div>
