<div class="flex flex-row align-items-center justify-content-evenly">
    <div class="router">
        <a routerLink="stylists" class="activate btn" routerLinkActive="active" >
            Stylists
        </a>
    </div>
    <div class="router" >
        <a routerLink="products" class="activate btn" routerLinkActive="active" >
            Products
        </a>
    </div>
    <div class="router" >
        <a routerLink="services" class="activate btn" routerLinkActive="active" >
            Services
        </a>
    </div>
    <div class="router">
        <a routerLink="contact" class="activate btn" routerLinkActive="active" >
            Contact
        </a>
    </div>
</div>
