<!-- <div class="layout-wrapper">
    <div class="sticky top-0" >
        <div class="flex flex-row items-center justify-evenly ml-4 absolute" *ngIf="isNotMobile()">
            <h2 class="callDiv" >Call: 317-358-6119</h2>
            <div class="flex flex-row items-center justify-center mr-4 instaLogo instaLogo-primary" (click)="navigateInstagram()">
                <h2 class="pt-2 pr-2 font-extrabold">
                    Follow Us On
                </h2>
                <h1 class="pt-2" style="font-size: 2rem;" >
                    <i class="bi bi-instagram"></i> 
                </h1>
            </div>
        </div>
    
        <div class="background" *ngIf="isNotMobile()">
            <div class="flex z-10 pt-8">
                <div class="card">
                    <img class="logo" src="../../../assets/images/logo.png" alt="logo-icon">
                </div>
                <div class="flex flex-col">
                    <h1 class="title"> Cowboys & Angels Salon </h1> 
                    <h1 class="stylingTitle"> Styling for Men & Women</h1>
                </div>
            </div>
        </div>
        <div class="mobileBackground" *ngIf="isMobile()">
            <div class="flex flex-row items-center justify-between">
                <div class="">
                    <img class="mobileLogo" src="../../../assets/images/logo.png" alt="logo-icon" >
                </div>
                <div class="">
                    <img class="" src="../../../assets/images/line.png" alt="icon" style="margin-top: -1rem;">
                </div>
            </div>
        </div>
    
        <div class="menuComponent" *ngIf="isNotMobile()">
            <app-navbar></app-navbar>
        </div>
    </div>

   

    <footer class="footer">
        <app-footer></app-footer>
    </footer>

</div> -->
<div class="layout-wrapper"> 
    <!-- <div class="absolute inset-0 bg-no-repeat bottom-10 h-full indexbaby opacity-25">
    </div> -->
    <div class="flex flex-row justify-between z-10 pt-8 mx-6">
        <div class="card">
            <img class="lg:h-72 lg:w-72 sm:w-44 sm:h-44 -ml-12 -mt-14" src="../../../assets/images/logo-black.png" alt="logo-icon">
        </div>
        <div class="ml-auto">
            <app-navbar></app-navbar>
        </div>
    </div>
    <header class="relative">
        <div class="mx-auto relative text-center">
            <h1 class="text-slate-900 font-extrabold sm:text-4xl lg:text-7xl tracking-wide">
                Cowboys And Angels Salon
            </h1>
            <h2 class="text-3xl mt-3 text-amber-800 font-semibold">
                Styling For Men
                <span class="relative">
                    <span class="block absolute -inset-1.5 skew-y-3 bg-amber-800" aria-hidden="true"></span>
                    <span class="relative text-white">and</span>
                </span>
                Women
            </h2>
        </div>
    </header>
    <div class="max-w-7xl mx-auto mt-3" [@routeAnimations]="prepareRoute(outlet)" >
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <footer class="max-w-7xl mx-auto pb-10">
        <app-footer></app-footer>
    </footer>
</div>