<div class="snap-x ...">
    <div class="snap-center ...">
        <a href="https://refstockholm.com/" ><img class="width refImg" src="../../../assets/images/REF.JPG" alt="ref-icon" ></a>
    </div>
    <div class="snap-center ...">
        <a href="https://gageformen.com"><img class="width gageImg" src="../../../assets/images/gageMen.JPG" alt="gage-icon" ></a>
    </div>
    <div class="snap-center ...">
        <a href="https://lisnbeauty.com"><img class="width beautyImg" src="../../../assets/images/Lisn.png" alt="ref-icon"></a>
    </div>
</div>