@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
    font-family: 'SpecialElite-Regular';
    src: url('../src/assets/fonts/SpecialElite-Regular.ttf') format('truetype');
}

$bg-color:#deb887;

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    // background-color: #FFECB3;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.layout-wrapper {
    background: white;
    font-family: 'SpecialElite-Regular';
    min-height: 100vh;
    position: relative;
    background-repeat: no-repeat;
}

// a {
//     color: black; 
//     text-decoration: none;
//     cursor: pointer;
// }
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
